# Разделение датасета на 4 части

In [29]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

In [30]:
X = dd.read_csv('my_data/X.csv')
X.head(5)

,id,vas_id,buy_time,0,1,2,3,4,5,6,...,243,244,245,246,247,248,249,250,251,252
0,2,2.0,1545598800,-96.799971,229.530888,-110.740786,305.723202,-116.158246,284.61821,-16.08618,...,2300.626154,1492.229208,-21.996269,-35.630448,368.252276,11.167111,7.305572,-12.175933,-0.45614,0.0
1,4,1.0,1533502800,-42.559971,99.460888,-43.780786,72.293202,-49.198246,51.18821,31.37382,...,-927.373846,-570.770792,-24.996269,-36.630448,-212.747724,-14.832889,-0.694428,-1.175933,-0.45614,1.0
2,15,1.0,1534107600,-96.799971,-336.159112,-110.740786,-329.456798,-116.158246,-350.56179,-16.08618,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
3,16,2.0,1540760400,155.310029,-92.509112,158.309214,-95.126798,152.891754,-116.23179,-16.08618,...,-977.373846,-613.770792,-25.996269,-37.630448,-291.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
4,29,1.0,1533502800,-42.559971,99.460888,-43.780786,72.293202,-49.198246,51.18821,31.37382,...,-927.373846,-570.770792,-24.996269,-36.630448,-212.747724,-14.832889,-0.694428,-1.175933,-0.45614,1.0

In [31]:
y = dd.read_csv('my_data/y.csv')
y.head(5)

   target
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0

In [32]:
(X.shape[0].compute(), X.shape[1])

(831653, 256)

In [33]:
len(X)

831653

In [34]:
X_plain = X.compute()

In [35]:
y_plain = y.compute()

In [36]:
# https://stackoverflow.com/a/28882020/5468048

def split_dataframe(df, chunk_size = 10000): 
    chunks = list()
    num_chunks = len(df) // chunk_size + 1
    for i in range(num_chunks):
        chunks.append(df[i*chunk_size:(i+1)*chunk_size])
    return chunks

In [37]:
chunk_size = X_plain.shape[0] // 4 + 10

In [38]:
X_chunks = split_dataframe(X_plain, chunk_size)
len(X_chunks)

4

In [39]:
y_chunks = split_dataframe(y_plain, chunk_size)
len(y_chunks)

4

In [40]:
save_path = 'my_data/chunks'

In [41]:
for i in range(len(X_chunks)):
    Xc = X_chunks[i]
    yc = y_chunks[i]

    Xc.to_csv(f'{save_path}/X_{i}.csv', index=False)
    yc.to_csv(f'{save_path}/y_{i}.csv', index=False)

In [42]:
sum(X_chunks[0]['211'].isna())

0